/**********右边固定的导航条**************/
#rightBox{
	width: 35px;
	height: 100%;
	background: red;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
	
}
.rb{
	margin-top: 38px;
	overflow: hidden;
}
.rbs2{
	height: 45px;
	background: red;
		
}
.rbs2 .iconfont{
	font-size: 35px;
	text-align: center;
	line-height: 45px;
}
.rbs2 a{
	color: white;
	text-decoration: none;
}
.rbs21{
	background: #000;
	border-bottom:1px solid white;
}
.rbs21 a{
	text-decoration: none;
}
.rbs21:hover{
	background: red;
	color: white;
}
.rbs21:hover a{
	color: white;
}
.rbs{
	width: 35px;
	padding: 15px 0;
	color: white;
	text-align: center;
}
.rbs .iconfont{
	font-size: 18px;
}
.rbs3{
	height: 36px;
	background: #000000;
	/*padding-top: 8px;*/
		
}
.rbs3 .iconfont{
	font-size: 24px;
	text-align: center;
	line-height: 36px;
	margin-left: 5px;
}

/*****右边那个隐藏窗口********/
.sonBox{
	width: 100px;
	height: 45px;
	background: red;
	color: white;
	line-height: 45px;
	text-align: center;
	position: absolute;
	right: 35px;
	transition: left 1s linear 0s;
	opacity: 1s;
	display: none;
}
.sonBox2{
	background: #494949;
}
.sonBox3{
	line-height: 36px;
	height: 36px;
	background: #494949;
}
.sonBox4{
	width: 155px;
	height: 180px;
	background: red;
	position: absolute;
	right: 35px;	
	transition: left 1s linear 0s;
	opacity: 1s;
	border-radius: 10px;
	display: none;
}
#son01{
	top: 188px;	
}
#son02{
	top: 234px;
}
#son03{
	top: 379px;
}
#son04{
	top: 415px;
}
#son05{
	top: 451px;
}
#son06{
	top: 487px;
}
#son07{
	top: 523px;
}
#son08{
	right: 35px;
	top: 435px;
}
#son09{
	right: 35px;
	top: 600px;
}
#fanhui .iconfont{
	font-size: 10px;
	margin-left: 10px;
}
@-webkit-keyframes move{
	0%{
		opacity: 0;
		left: -150px;
	}
	100%{
		left: -100px;
	}
}
#zhuhuic:hover #son01{
	/*一点就出现我的主会场那个样式*/
	animation: move 1s;
	display: block;
}
/*我的主会场那个三角形图*/
.sonBox img{
	display: block;
	margin-top: -32px;
	margin-left: 98px;
}
.sonBox3 img{
	display: block;
	margin-top: -27px;
	margin-left: 98px;
}
/*.sonBox4 img{
	display: block;
	margin-bottom: 0px;
	margin-left: -155px;
}*/
.sonBox:hover img{
	display: none;	
}
#huiyuan:hover #son02{
	/*一点就出现会员权益单那个样式*/
	animation: move 1s;
	display: block;
}
#money:hover #son03{
	/*一点就出现我的资产单那个样式*/
	animation: move 1s;
	display: block;
}
#shuocang:hover #son04{
	/*一点就出现我的收藏单那个样式*/
	animation: move 1s;
	display: block;
}
#kanguo:hover #son05{
	/*一点就出现我看过的单那个样式*/
	animation: move 1s;
	display: block;
}
#chonzhi:hover #son06{
	/*一点就出现我要充值单那个样式*/
	animation: move 1s;
	display: block;
}
#fankui:hover #son07{
	/*一点就出现用户反馈单那个样式*/
	animation: move 1s;
	display: block;
}
#tu{
	display: block;
	margin-top:-25px;
}
#tu2{
	display: block;
	margin-top:-162px;
	width: 100px;
	height: 100px;
	margin-left: 26px;
}
#tu3{
	display: block;
	margin-left: 10px;
}
#saoma:hover #son08{
	display: block;
}
#fanhui:hover #son09{
	animation: move 1s;
	display: block;
}